# Root dependencies
node_modules/

# Root logs
*.log

# Terraform
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
terraform/terraform.tfvars
*.auto.tfvars
*.auto.tfvars.json
tfplan
.terraformrc
terraform.rc

# Environment variables
.env